<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Product:</b>
  <%= @rate.product_id %>
</p>

<p>
  <b>User:</b>
  <%= @rate.user_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @rate.rating %>
</p>

<p>
  <b>Review:</b>
  <%= @rate.review %>
</p>


<%= link_to 'Edit', edit_rate_path(@rate) , class: "btn btn-default"%> 
<!-- <%= link_to 'Back', rates_path %> -->
