<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
 
<% @product_obj.each do |product|%>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <a href="../../products/<%="#{product.id}"%>"><h3><%= "#{product.title}" %></h3></a>
    <p><%= sanitize(product.description) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
<!-- START_HIGHLIGHT -->
        <div class="star">
        <p id="rate"><%= "%.2f" %  average_rating(product.id)%>/5 </p>
        </div>

        <!-- END_HIGHLIGHT -->
    </div>
  </div>
<% end %>
<%= link_to 'back', store_path%>
